<a href="https://colab.research.google.com/github/Av419/Data-Cleaning-week-3/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import libraries

In [2]:
import numpy as np
import pandas as pd

## Load Data

In [3]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

## Methods and Functions

In [7]:
data.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
# it shows the name of columns and their respective null values count.
data.isna().sum()

In [ ]:
# it will show the name of the columns and its data types.
data.columns

In [14]:
# changing all the column name to lower for convenience.
data.columns = data.columns.str.lower().str.replace(" ","_")

## Age Column

In [15]:
avg_age = data['age'].mean()

In [ ]:
data["age"] = data["age"].fillna(avg_age)
data["age"]=data["age"].round(decimals=1)
data["age"]=data["age"].astype(int)
data["age"]

In [17]:
data["age"].isna().sum()

0

## Salary Column

In [ ]:
data["salary"]=data["salary"].apply(lambda x:x.replace("$"," "))
data["salary"]=data["salary"].apply(lambda x:x.replace("k","000"))
data["salary"]

## Rating Column

In [ ]:
avg_rating = data["rating"].mean()
data["rating"]=data["rating"].replace(-1,np.nan)
data["rating"].fillna(avg_rating,inplace=True)
data["rating"]=data["rating"].round(decimals=1)
data["rating"]

## Location Column

In [21]:
data["location"]=data["location"].str.replace("Australia Aus","Australia, Aus")
data["location_city"]=data["location"].str.split(",",expand=True).get(0)
data["city_sign"]=data["location"].str.split(",",expand=True).get(1)
data.drop("location",inplace=True,axis=1)

## Estblished Column

In [ ]:
data["established"]=data["established"].replace(-1,np.nan)
data["established"]=data["established"].fillna("unknown")
data["established"]

## Easy Apply

In [32]:
data["easy_apply"]=data["easy_apply"].apply(lambda x:x.replace("-1","FALSE"))
data["easy_apply"]

0      TRUE
1      TRUE
2     False
3     False
4     False
5      TRUE
6     False
7     False
8     False
9      TRUE
10     TRUE
11    False
12    False
13     TRUE
14     TRUE
15    False
16    False
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    False
22     TRUE
23     TRUE
24    False
25     TRUE
26     TRUE
27    False
28    False
Name: easy_apply, dtype: object